<%= render 'form', review: @review %>

<% @reviews.each do |review| %>
  <h2>
    <% review.rating.times do %>
      <svg width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32 11.4286L20.8036 9.97211L16 0L11.1953 9.97211L0 11.4286L8.23104 18.8884L6.10714 29.7121L16 24.3974L25.8951 29.7121L23.7679 18.8884L32 11.4286Z" fill="#F3BB3D"/>
      </svg>
    <% end %>

    <% (5 - review.rating).times do %>
      <svg width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32 11.4286L20.8036 9.97211L16 0L11.1953 9.97211L0 11.4286L8.23104 18.8884L6.10714 29.7121L16 24.3974L25.8951 29.7121L23.7679 18.8884L32 11.4286Z" fill="#CCC"/>
      </svg>
    <% end %>
    <%= review.content %>
  </h2>
<% end %>
